<!--<div class="backBar"><a href="#" class="GoBack"><img src="images/backkey.png" width="14"/></a>修改手机号</div>-->
<yy-header title="修改密码" hideBackBtn="false"></yy-header>
<form>
	<p class="loginInfo newPhone mt_0"><input name="oldpassword" ng-model="oldpassword" type="password" placeholder="请输入当前登录密码" class="w90"/></p>
	<p class="loginInfo newPhone"><input name="newpassword" ng-model="newpassword" type="password" placeholder="请输入新的登录密码" class="w90"/></p>
	<p class="loginInfo newPhone"><input name="repassword" ng-model="repassword" type="password" placeholder="请再次输入新的登录密码" class="w90"/></p>
</form>
<div class="payBtn mt_20"><input value="保存" type="button" class=" bc_46cf14" ng-click="padSave()"/></div>