<!--<div class="backBar"><a href="#" class="GoBack"><img src="images/backkey.png" width="14"/></a>找回密码</div>-->
<yy-header title="重设密码" hideBackBtn="false"></yy-header>
<form name="myForm">
	<p class="loginInfo"><input name="password" ng-model="password" type="password" placeholder="请输入新密码"/></p>
	<span class="phoneEor fc_999">密码长度6-12位</span>
	<p class="loginInfo"><input name="repassword" ng-model="repassword" type="password" placeholder="请再次输入新密码"/></p>
</form>
<div class="payBtn loginBtn mt_20"><input value="提交" type="button" ng-click="modifyPassword()"/></div>
