
<!--<div class="backBar"><a href="#" class="GoBack"><img src="images/backkey.png" width="14"/></a>账户充值</div>-->
<yy-header title="账户充值" hideBackBtn="false"></yy-header>
<div class="capitalDet">
	<img src="images/money.png" width="45"/>
	<div class="useMoney">
		<span class="fc_999">可用金额</span>
		<span>¥500</span>
	</div>
	<a ui-sref="payments" class="right-arrow"><img src="images/right_grey.png" width="10"/></a>
</div>
<div class="recharge">
	<h3>充值</h3>
	<div item-pay payData='payData' payVal='payVal'></div>
</div>
<div class="payBtn bc_fff"><input value="立刻充值" type="button" ng-click="payBind()"/></div>
<div class="paytips">
	<p>温馨提示:</p>
	<p>发票信息可以通过会员中心-资金管理进行索取</p>
</div>
</div>